<div class="mini_icon_image">
  <% if current_user.icon_image? %>
    <%= image_tag current_user.icon_image.mini_icon.url %>
  <% else %>
    <%= image_tag "default_icon.jpg", size: '50x50' %>
  <% end %>
</div>
<div id="wrapper">
  <input type="text" value="popup新規投稿" class="inline-link" data-mfp-src="#inline-popup">
</div>
<div id="inline-popup" class="mfp-hide">
  <%= render partial: "form" %>
  <div class="mfp-close">閉じる</div>
</div>
