<div class="content">
  <div class="mini_icon_image">
    <% if current_user.icon_image? %>
      <%= image_tag current_user.icon_image.mini_icon.url , class: "icon"%>
    <% else %>
      <%= image_tag "default_icon.jpg", size: '50x50', class: "icon" %>
    <% end %>
  </div>
  <div id="wrapper">
    <input type="text" value=" 新規投稿" class="inline-link new-form" data-mfp-src="#inline-popup2">
  </div>
  <div id="inline-popup2" class="mfp-hide">
    <%= render partial: "pictures/form" %>
    <div class="mfp-close"></div>
  </div>
</div>
